[Unit]
Description=Fatih Akıllı Tahta İstemci Uygulaması
After=graphical-session.target
Wants=network-online.target

[Service]
Type=simple
User=root
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority
ExecStart=/usr/bin/python3 /opt/fatih-client/client.py
Restart=always
RestartSec=3
StartLimitBurst=0

[Install]
WantedBy=graphical-session.target
